.AccountInfo{
    background-color: rgb(236, 236, 236);
    padding:20px;
    .AccountChart{
        display: flex;
        .fonts{
            padding:10% 0;
            text-align: left;
            .fontWrap{
                padding:10px;
                font-weight: bolder;
            }
        }
    }
    .Stocks{
        overflow: auto;
        max-height: 420px;
        margin:10px 0px;
    }
}