.AccountInfo{
    background-color: rgb(236, 236, 236);
    padding:20px;
    .AccountChart{
        display: flex;
        .fonts{
padding:10% 0;
text-align: center;
            .fontWrap{
                padding:10px;
            }
        }
    }
    .Stocks{
        overflow: auto;
        max-height: 450px;
        margin:10px 0px;
    }
}