.Board{
    text-align: center;
    overflow: hidden;
    width: 100%;

    .typeComment{
        text-align: center;
        .commentTextField{
            width:400px
        }
    }
    .comments{
        background-color: rgb(236, 236, 236);
        overflow: auto;
        max-height: 400px;
    }
}