.Front{
    text-align: center;
    width: 100%;
    .logo{
        width: 60%;
        height:60%;
        padding:30% 10% 20% 10%;
    }
    .buttons{
        .button{
            padding:10px;
        }
    }
    
}