.TopBar{
    background: #f55e61;
    display: flex;
    padding:5px;
    justify-content: center;
    display: "flex";
    justify-content: "center";
}

.Logo{
    width:'10%';
}

*{
    color:"#f55e61";
}